.container {
    background-color: #eef2f5;
    width: 400px;
}

.addtxt {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 13px;
    width: 350px;
    background-color: #e5e8ed;
    font-weight: 500;
}

.form-control:focus {
    color: #000;
}

.second {
    width: 350px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.text1 {
    font-size: 13px;
    font-weight: 500;
    color: #56575b;
}

.text2 {
    font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
    color: #56575b;
}

.text3 {
    font-size: 13px;
    font-weight: 500;
    margin-right: 4px;
    color: #828386;
}

.text3o {
    color: #00a5f4;
}

.text4 {
    font-size: 13px;
    font-weight: 500;
    color: #828386;
}

.text4i {
    color: #00a5f4;
}

.text4o {
    color: white;
}

.thumbup {
    font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
}
