.home-content {
  width: 82.5%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0;
}

@media screen and (max-width: 768px) {
  .home-content {
    width: 100%;
    position: static;
  }
}
