/*SIDEBAR*/
.sidebar {
  background-color: #101010;
  height: 100%;
  width: 17.5%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sidebar .nav-link {
  color: #fff;
  font-size: 1.6vw;
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 20px;
}

.sidebar .nav-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.navbar-brand {
  margin: 5%;
  width: 100%;
  height: 15%;
}

.sidelogo {
  width: 35%;
  display: inline-block;
}

/*NAVBAR*/
.sidebar-top {
  height: 75px;
  width: 100%;
  flex-direction: row;
}

.sidebar-top .nav-links {
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.sidebar-top .navbar-brand {
  height: 100%;
  width: 10%;
}

.sidebar-top .sidelogo {
  width: unset;
  height: 100%;
}

.admin-button {
  font-size: 1.6vw;
  font-weight: 510;
  font-family: 'Roboto', sans-serif;
  width: 80%;
  height: 5.5%;
  border-color: #09b14f;
  background-color: #09b14f;
  margin-bottom: 10%;
  border-radius: 15%;
}

.btn-outline-primary {
  --bs-btn-color: #09b14f;
  --bs-btn-border-color: #09b14f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #09b14f;
  --bs-btn-hover-border-color: #09b14f;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #09b14f;
  --bs-btn-active-border-color: #09b14f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #09b14f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #09b14f;
  --bs-gradient: none;
}
