body {
  margin: 0;
  padding: 0;
  background-color: #0c0b0b;
}

* {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.modal-title,
.modal-body,
.share-modal-body,
.share-modal-body input {
  color: #000 !important;
}
