body {
  margin: 0;
  padding: 0;
  background-color: #0c0b0b;
}

* {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.modal-title,
.modal-header,
.modal-body,
.model-content,
.modal-footer,
.share-modal-body,
.share-modal-body input {
  color: #fff !important;
  background-color: #261e1e;
}

.modal-header button {
  color: #fff !important;
}

.modal-body .container {
  background-color: #261e1e;
}
