.register {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.register-container .register-form-title h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.register-container .input-group-text {
    background-color: #0C0B0B;
    border: 2px solid #fff;
    color: #fff;
}

.register-container .register-form-title {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.register-container .register-form-input, .register-container .register-form-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.register-container .register-form-input .formBasicEmail {
    text-align: left;
}

.register-container .register-form-input .formBasicPassword {
    margin: 5% 0;
    text-align: left;
}

.register-container .register-form-input .forgot-password a{
    float: right;
    color: #fff;
    font-size: 0.9rem;
    text-decoration: none;
}

.register-container .register-form-input button {
    margin-top: 7%;
    height: 40px;
    width: 50%;
    background-color: #1A8CD8;
    font-weight: 600;
    margin-left: 25%;
    margin-right: 25%;
}

.register-container .register-form-input button:hover {
    background-color: #045dc1;
    color: #fff;
}


.register-container .register-form-signup {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.register-container .register-form-signup .signup-text p{
    color: #fff;
    font-size: 0.9rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.register-container .register-form-signup .signup-link p{
    color: #3AC887;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-align: right;
    cursor: pointer;
}





